* {
    padding: 0;
    margin: 0;
}

.container>div {
    height: 200px;
    width: 300px;
    color: white;
}

.a {
    background-color: brown;
    position: absolute;
    top: 140px;
    left: 171px;
    z-index: -30;

}

.b {
    background-color: aquamarine;
    position: absolute;
    top: 255px;
    left: 383px;
    z-index: -29;
}

.c {
    background-color: green;
    position: absolute;
    top: 29px;
    left: 5px;
    z-index: 30;
}